:root{
	--pumpkin: #c65a07;
	--glow: #c6ba07;
	--blood: #8e0811;
	--charcoal: #110b09;
	--ghost: #efdcda;
}

body{
	background-color: black;
}

hr{
	margin: 5px 0px 5px;
	border: 5px solid var(--glow);
}

b{
	color: var(--blood);
}

input[type=text] {
    background-color: var(--charcoal);
    caret-color: var(--glow);
	color: var(--ghost);
}

input[type=button] {
	background-color: var(--blood)
}

.game-panel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 5px ridge var(--pumpkin);
	background-color: var(--charcoal);
	color: var(--ghost);
	min-height: 300px;
	min-width: 200px;
	margin: 25px;
}

.content-panel{
	display: flex;
	flex: 1;
	background-color: var(--charcoal);
}

.text-panel{
	width: 66%;
	border: 5px outset var(--blood);
}

.map-info-panel{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border: 5px outset var(--glow);
}

.input-panel{
	display: flex;
	height: 50px;
}