:root{
	--pumpkin: #c65a07;
	--glow: #c6ba07;
	--blood: #8e0811;
	--charcoal: #110b09;
	--ghost: #efdcda;
	--witch: #841ab2;
}

body{
	background-color: black;
}

hr{
	margin: 5px 0px 5px;
	border: 5px solid var(--glow);
}

b{
	color: var(--blood);
}

input[type=text] {
    background-color: var(--charcoal);
    caret-color: var(--witch);
	color: var(--witch);
}

input[type=button] {
	background-color: var(--witch);
}

.game-panel{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 5px ridge var(--pumpkin);
	background-color: var(--charcoal);
	color: var(--ghost);
	height: 360px;
	min-width: 360px;
	margin: 25px;
	flex-grow: 0;
}

.content-panel{
	display: flex;
	flex: 1;
	background-color: var(--charcoal);
}

.text-panel{
	width: 66%;
	height: 300px;
	max-height: 300px;
	border: 5px outset var(--blood);
	display: block;
	overflow-y: auto;
}

.text-entry{
	margin: 5px;
}

.map-info-panel{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border: 5px outset var(--glow);
}

.input-panel{
	display: flex;
	height: 30px;
	border: 3px solid var(--witch);
}

.location{
	color: var(--pumpkin);
}

.person{
	color: var(--blood);
}

.object{
	color: var(--glow);
}

.user-input{
	color: var(--witch);
}